/* Set the font and background color for the entire page */
body {
    font-family: 'Luckiest Guy', cursive;
    background-color: #F8F8FF;
  }
  
  /* Center the app on the page */
  .app {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Style the game title */
  h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  /* Style the board size label and input */
  label {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  input {
    font-size: 1.5rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Style the board container */
  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Style the card container */
  .card {
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    perspective: 1000px;
  }
  
  /* Flip the card when it is clicked */
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  /* Style the card front and back */
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  /* Style the game information container */
  .game-info {
    align-items: center;
    padding: 1rem;
    text-align: center;
  }
  
  /* Style the reset button */
  button {
    height: 100px;
    width: 200px;
    font-size: 44px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #006B85;
  }